.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero {
  width: 100%;
  height: 721px;
  display: flex;
  max-width: 1600px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/bluebg.svg");
  background-position: bottom;
}
.home-navbar-interactive {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-image {
  width: auto;
  height: 71px;
  object-fit: cover;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  line-height: 1.15;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-primary-100);
  font-style: normal;
  font-weight: 700;
}
.home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-secoundrybutton {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(212, 175, 55, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 60px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-text05 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-text12 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text13 {
  color: rgb(15, 15, 15);
  height: auto;
  flex-grow: 1;
  font-size: 38px;
  font-style: Black;
  text-align: left;
  font-family: "Archivo";
  font-weight: 900;
  line-height: 68px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text14 {
  color: #0f0f0f;
}
.home-text15 {
  color: #49bfbf;
}
.home-text17 {
  color: rgba(84, 84, 84, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-container02 {
  width: var(--dl-size-size-large);
  height: 1px;
  background-color: D4AF37;
}
.home-container03 {
  display: contents;
}
.home-text19 {
  color: rgb(84, 84, 84);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-button {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  background: linear-gradient(180deg, rgba(227, 195, 90, 1) 0%, rgba(212, 177, 58, 1) 100%);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 45px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.home-photos {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-frame2612309 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.home-frame2612308 {
  gap: 10px;
  width: 60%;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.home-rectangle4146 {
  width: 260px;
  height: 424px;
  align-self: stretch;
  border-radius: 200px;
}
.home-frame2612249 {
  gap: 40px;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-ellipse764 {
  width: 183px;
  height: 183px;
}
.home-ellipse765 {
  width: 183px;
  height: 183px;
}
.home-techniques {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-frame2612223 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text21 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 42px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: center;
  font-family: "Archivo";
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text22 {
  color: rgb(84, 84, 84);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.home-row-techniques {
  width: 100%;
  height: 397px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  background-size: contain;
  background-image: url("public/techniquesbg13.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-link {
  display: contents;
}
.home-constellation {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-container04 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image01 {
  width: auto;
  object-fit: cover;
}
.home-text26 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 19.8521px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: "Outfit";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text29 {
  color: rgb(84, 84, 84);
  width: auto;
  height: auto;
  font-size: 15.2708px;
  font-style: Regular;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 19.8521px;
  margin-left: var(--dl-space-space-threeunits);
  font-stretch: normal;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text30 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 16.797916412353516px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 21.379167556762695px;
  font-stretch: normal;
  text-decoration: none;
}
.home-reiki {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container05 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image02 {
  width: auto;
  object-fit: cover;
}
.home-text32 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 19.8521px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: "Outfit";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text33 {
  color: rgb(84, 84, 84);
  width: auto;
  height: auto;
  font-size: 15.2708px;
  font-style: Regular;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 19.8521px;
  margin-left: var(--dl-space-space-threeunits);
  font-stretch: normal;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text34 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 16.797916412353516px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 21.379167556762695px;
  font-stretch: normal;
  text-decoration: none;
}
.home-theta-healing {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container06 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image03 {
  width: auto;
  object-fit: cover;
}
.home-text36 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 19.8521px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: "Outfit";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text37 {
  color: rgb(84, 84, 84);
  width: auto;
  height: auto;
  font-size: 15.2708px;
  font-style: Regular;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 19.8521px;
  margin-left: var(--dl-space-space-threeunits);
  font-stretch: normal;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text38 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 16.797916412353516px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 21.379167556762695px;
  font-stretch: normal;
  text-decoration: none;
}
.home-a-propos-de-moi {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-frame26122231 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text40 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 42px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: center;
  font-family: "Archivo";
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-row-larissa {
  width: auto;
  height: 653px;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-twounits);
  min-height: auto;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  background-size: contain;
  justify-content: flex-start;
  background-image: url("public/a-propos-bg.svg");
  background-repeat: no-repeat;
}
.home-photo {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: 580px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image04 {
  width: auto;
  clip-path: polygon( 38.891% 3.374%,38.891% 3.374%,40.942% 2.161%,43.104% 1.217%,45.347% 0.543%,47.646% 0.139%,49.973% 0.004%,52.299% 0.139%,54.598% 0.543%,56.842% 1.217%,59.003% 2.161%,61.055% 3.374%,88.628% 22.074%,88.628% 22.074%,89.913% 23.027%,91.099% 24.073%,92.181% 25.204%,93.154% 26.414%,94.014% 27.695%,94.757% 29.04%,95.379% 30.442%,95.874% 31.894%,96.239% 33.388%,96.469% 34.917%,99.808% 66.848%,99.808% 66.848%,99.893% 69.135%,99.676% 71.377%,99.171% 73.551%,98.392% 75.636%,97.353% 77.609%,96.066% 79.446%,94.546% 81.127%,92.807% 82.628%,90.863% 83.926%,88.726% 85%,57.814% 98.231%,57.814% 98.231%,56.298% 98.807%,54.748% 99.255%,53.171% 99.575%,51.576% 99.767%,49.973% 99.831%,48.369% 99.767%,46.775% 99.575%,45.198% 99.255%,43.647% 98.807%,42.131% 98.231%,11.219% 85%,11.219% 85%,9.083% 83.926%,7.138% 82.628%,5.399% 81.127%,3.879% 79.446%,2.593% 77.609%,1.553% 75.636%,0.774% 73.551%,0.269% 71.377%,0.052% 69.135%,0.137% 66.848%,3.476% 34.917%,3.476% 34.917%,3.706% 33.388%,4.071% 31.894%,4.567% 30.442%,5.188% 29.04%,5.931% 27.695%,6.792% 26.414%,7.765% 25.204%,8.846% 24.073%,10.032% 23.027%,11.317% 22.074%,38.891% 3.374% );
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}
.home-intro {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
}
.home-image05 {
  width: var(--dl-size-size-small);
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.home-text41 {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: "DM Sans";
  letter-spacing: 3px;
}
.home-text42 {
  color: #ffffff;
  font-size: 32px;
  margin-top: var(--dl-space-space-unit);
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-text45 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 15px;
  max-width: 800px;
  margin-top: var(--dl-space-space-unit);
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  text-decoration: none;
}
.home-buttons2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-btn-rendezvous {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  background: linear-gradient(180deg, rgba(227, 195, 90, 1) 0%, rgba(212, 177, 58, 1) 100%);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 45px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text57 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d4af37;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 45px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.home-text58 {
  color: rgb(212, 175, 55);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.home-evenements {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text59 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 42px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: center;
  font-family: "Archivo";
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.home-evenement {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 calc(50% - 12px);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 100;
  flex-wrap: wrap;
  box-shadow: 0px 2.2906250953674316px 25px 0px rgba(194, 219, 219, 0.23999999463558197) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: #ffffff;
}
.home-photo-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-photo1 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 209px;
  align-self: stretch;
  border-radius: 15px;
}
.home-details-evenement {
  gap: 10px;
  flex: 1;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text60 {
  color: rgba(73, 191, 191, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18.325000762939453px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 21.379167556762695px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text62 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 18.325px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Archivo";
  font-weight: 600;
  line-height: 27.4875px;
  font-stretch: normal;
  text-decoration: none;
}
.home-date-evenement {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-start;
}
.home-image06 {
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
}
.home-text63 {
  color: rgb(54, 54, 54);
  height: auto;
  font-size: 13.7438px;
  font-style: Regular;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 21.3792px;
  margin-left: var(--dl-space-space-halfunit);
  font-stretch: normal;
  text-decoration: none;
}
.home-text64 {
  color: rgb(84, 84, 84);
  height: auto;
  font-size: 15.2708px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 22.9062px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text65 {
  color: rgb(212, 175, 55);
  height: auto;
  font-size: 15.2708px;
  font-style: Medium;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 21.3792px;
  font-stretch: normal;
  text-decoration: none;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.home-btn-voir-plus-evenements {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  background: linear-gradient(180deg, rgba(227, 195, 90, 1) 0%, rgba(212, 177, 58, 1) 100%);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 45px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text66 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "DM Sans";
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.home-circle-background {
  top: 20%;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 45%;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  padding-top: 45%;
  border-radius: 50%;
  flex-direction: column;
  background-color:  rgba(212, 175, 55, 0.05);
}
.home-footer {
  width: 100%;
  height: 370px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #F1FAFA;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.home-container10 {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text67 {
  color: rgb(84, 84, 84);
  font-size: 28px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-container11 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.home-image07 {
  width: auto;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}
.home-text72 {
  color: #545454;
  font-size: 17px;
}
.home-container12 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-image08 {
  width: auto;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}
.home-text73 {
  color: rgb(84, 84, 84);
  font-size: 17px;
}
.home-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: space-between;
  flex-direction: column;
}
.home-image09 {
  width: 200px;
  object-fit: cover;
}
.home-icon-group1 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon10 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container14 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text77 {
  color: rgb(84, 84, 84);
  font-size: 28px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-links2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.15;
  flex-direction: column;
  justify-content: center;
}
.home-text78 {
  color: var(--dl-color-primary-100);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home-text79 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.home-text80 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.home-text81 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.home-text82 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home-image {
    height: 85px;
  }
  .home-secoundrybutton {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-row-techniques {
    background-size: cover;
    background-image: url("public/techniquesbg13.svg");
  }
  .home-row-larissa {
    margin-left: var(--dl-space-space-twounits);
  }
  .home-intro {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-evenements {
    width: 100%;
    height: 780px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container08 {
    flex: 1;
    padding: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-circle-background {
    position: 0px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-text12 {
    padding-left: 0px;
  }
  .home-button {
    align-self: center;
  }
  .home-row-larissa {
    height: 655px;
  }
  .home-photo {
    height: auto;
  }
  .home-image04 {
    width: 476px;
  }
  .home-buttons2 {
    flex-direction: column;
  }
  .home-evenements {
    height: auto;
  }
  .home-container08 {
    gap: 0;
    flex: auto;
    width: auto;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-evenement {
    flex: 0 0 auto;
    width: 80%;
  }
  .home-circle-background {
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-text07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
